In [1]:
import copy, pandas as pd
def const(h, e): return all(x=='?' or x==y for x,y in zip(h,e))
def update_pos(G, S, e):
    for j in range(len(S)):
        S[j] = '?' if S[j]!='Null' and S[j]!=e[j] else e[j]
def update_neg(G, S, e):
    new_G = []
    for g in G:
        if const(g,e):
            for i in range(len(e)):
                if S[i]!='?' and S[i]!='Null' and e[i]!=S[i]:
                    h = g.copy()
                    h[i] = S[i]
                    if h not in new_G: new_G.append(h)
        else: new_G.append(g)
    return new_G
def sync(G, S): return [g for g in G if all(g[i]=='?' or g[i]==S[i] for i in range(len(S)))]
data = pd.read_csv('Weather.csv')
instances = data.values.tolist()
G = [['?']*len(instances[0][:-1]) for _ in range(len(instances[0][:-1]))]
S = ['Null']*len(instances[0][:-1])
for instance in instances:
    e, l = instance[:-1], instance[-1]
    print("Processing instance:", e, "Label:", l)
    if l=='Yes': update_pos(G,S,e)
    else: G = update_neg(G,S,e)
    print(" (S):", S)
    print(" (G):", G)
G = sync(G,S)
print("Final  (S):", S)
print("Final  (G):", G)

Processing instance: ['Morning', 'Sunny', 'Warm', 'Yes', 'Mild', 'Strong'] Label: Yes
 (S): ['Morning', 'Sunny', 'Warm', 'Yes', 'Mild', 'Strong']
 (G): [['?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?']]
Processing instance: ['Evening', 'Rainy', 'Cold', 'No', 'Mild', 'Normal'] Label: No
 (S): ['Morning', 'Sunny', 'Warm', 'Yes', 'Mild', 'Strong']
 (G): [['Morning', '?', '?', '?', '?', '?'], ['?', 'Sunny', '?', '?', '?', '?'], ['?', '?', 'Warm', '?', '?', '?'], ['?', '?', '?', 'Yes', '?', '?'], ['?', '?', '?', '?', '?', 'Strong']]
Processing instance: ['Morning', 'Sunny', 'Moderate', 'Yes', 'Normal', 'Normal'] Label: Yes
 (S): ['Morning', 'Sunny', '?', 'Yes', '?', '?']
 (G): [['Morning', '?', '?', '?', '?', '?'], ['?', 'Sunny', '?', '?', '?', '?'], ['?', '?', 'Warm', '?', '?', '?'], ['?', '?', '?', 'Yes', '?', '?'], ['?', '?', '?', '?', '?', 'Strong']]
Processing instance: ['Evening', 'Sunny', 'Cold', 'Yes', 'High', 'Strong'] Label: Yes
 (S): ['?', 'Sunny', '?', 'Yes', '?', '?']
 (G): [['Morning', '?', '?', '?', '?', '?'], ['?', 'Sunny', '?', '?', '?', '?'], ['?', '?', 'Warm', '?', '?', '?'], ['?', '?', '?', 'Yes', '?', '?'], ['?', '?', '?', '?', '?', 'Strong']]
Final  (S): ['?', 'Sunny', '?', 'Yes', '?', '?']
Final  (G): [['?', 'Sunny', '?', '?', '?', '?'], ['?', '?', '?', 'Yes', '?', '?']]

In [1]:
import pandas as pd
data = {'Name': ['Jai', 'Princi', 'Gaurav', 
                 'Anuj', 'Ravi', 'Natasha', 'Riya'],
        'Age': [17, 17, 18, 17, 18, 17, 17],
        'Gender': ['M', 'F', 'M', 'M', 'M', 'F', 'F'],
        'Marks': [90, 76, 'NaN', 74, 65, 'NaN', 71]}
df = pd.DataFrame(data)
df

      Name  Age Gender Marks
0      Jai   17      M    90
1   Princi   17      F    76
2   Gaurav   18      M   NaN
3     Anuj   17      M    74
4     Ravi   18      M    65
5  Natasha   17      F   NaN
6     Riya   17      F    71

In [14]:
#Dealing with missing values
c = avg = 0
for ele in df ['Marks']:
 if str(ele).isnumeric():
  c+= 1
  avg+= ele
avg/=c

ZeroDivisionError: division by zero

In [16]:
df = df.replace(to_replace="NaN",
                value=avg)
df

      Name  Gender  Marks
0      Jai     NaN   90.0
1   Princi     NaN   76.0
2   Gaurav     NaN   75.2
5  Natasha     NaN   75.2

In [6]:
#Data Replacing
df['Gender'] = df['Gender'].map({'M': 0, 'F': 1}).astype(float)
df

      Name  Gender  Marks
0      Jai     NaN   90.0
1   Princi     NaN   76.0
2   Gaurav     NaN   75.2
5  Natasha     NaN   75.2

In [4]:
#Filtering data
df = df[df['Marks'] >= 75].copy()
df.drop('Age', axis=1, inplace=True)
df

      Name  Gender  Marks
0      Jai     0.0   90.0
1   Princi     1.0   76.0
2   Gaurav     0.0   75.2
5  Natasha     1.0   75.2

In [8]:
#Creating First Dataframe to Perform Merge Operation
import pandas as pd 
details = pd.DataFrame({
	'ID': [101, 102, 103, 104, 105, 106, 
		107, 108, 109, 110],
	'NAME': ['Jagroop', 'Praveen', 'Harjot', 
			'Pooja', 'Rahul', 'Nikita',
			'Saurabh', 'Ayush', 'Dolly', "Mohit"],
	'BRANCH': ['CSE', 'CSE', 'CSE', 'CSE', 'CSE', 
			'CSE', 'CSE', 'CSE', 'CSE', 'CSE']})
print(details)

    ID     NAME BRANCH
0  101  Jagroop    CSE
1  102  Praveen    CSE
2  103   Harjot    CSE
3  104    Pooja    CSE
4  105    Rahul    CSE
5  106   Nikita    CSE
6  107  Saurabh    CSE
7  108    Ayush    CSE
8  109    Dolly    CSE
9  110    Mohit    CSE

In [9]:
#Creating Second Dataframe to Perform Merge operation
import pandas as pd
fees_status = pd.DataFrame(
	{'ID': [101, 102, 103, 104, 105, 
			106, 107, 108, 109, 110],
	'PENDING': ['5000', '250', 'NIL', 
				'9000', '15000', 'NIL',
				'4500', '1800', '250', 'NIL']})
print(fees_status)

    ID PENDING
0  101    5000
1  102     250
2  103     NIL
3  104    9000
4  105   15000
5  106     NIL
6  107    4500
7  108    1800
8  109     250
9  110     NIL

In [10]:
#Data Wrangling Using Merge Operation
import pandas as pd

details = pd.DataFrame({
    'ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'NAME': ['Jagroop', 'Praveen', 'Harjot', 'Pooja', 'Rahul', 'Nikita',
             'Saurabh', 'Ayush', 'Dolly', "Mohit"],
    'BRANCH': ['CSE'] * 10
})

fees_status = pd.DataFrame({
    'ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'PENDING': ['5000', '250', 'NIL', '9000', '15000', 'NIL',
                '4500', '1800', '250', 'NIL']
})

print(pd.merge(details, fees_status, on='ID'))

    ID     NAME BRANCH PENDING
0  101  Jagroop    CSE    5000
1  102  Praveen    CSE     250
2  103   Harjot    CSE     NIL
3  104    Pooja    CSE    9000
4  105    Rahul    CSE   15000
5  106   Nikita    CSE     NIL
6  107  Saurabh    CSE    4500
7  108    Ayush    CSE    1800
8  109    Dolly    CSE     250
9  110    Mohit    CSE     NIL

In [1]:
pip install folium

Requirement already satisfied: folium in c:\users\reply\appdata\local\programs\python\python312\lib\site-packages (0.19.4)
Requirement already satisfied: branca>=0.6.0 in c:\users\reply\appdata\local\programs\python\python312\lib\site-packages (from folium) (0.8.1)
Requirement already satisfied: jinja2>=2.9 in c:\users\reply\appdata\local\programs\python\python312\lib\site-packages (from folium) (3.1.4)
Requirement already satisfied: numpy in c:\users\reply\appdata\local\programs\python\python312\lib\site-packages (from folium) (2.1.2)
Requirement already satisfied: requests in c:\users\reply\appdata\local\programs\python\python312\lib\site-packages (from folium) (2.32.3)
Requirement already satisfied: xyzservices in c:\users\reply\appdata\local\programs\python\python312\lib\site-packages (from folium) (2025.1.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\reply\appdata\local\programs\python\python312\lib\site-packages (from jinja2>=2.9->folium) (2.1.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\reply\appdata\local\programs\python\python312\lib\site-packages (from requests->folium) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\reply\appdata\local\programs\python\python312\lib\site-packages (from requests->folium) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\reply\appdata\local\programs\python\python312\lib\site-packages (from requests->folium) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\reply\appdata\local\programs\python\python312\lib\site-packages (from requests->folium) (2024.7.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import folium as flm
from folium import plugins
import pandas as pd
import json 
import requests

In [7]:
with open(r'Indian_States.json') as f:
    geojson_states = json.load(f)

In [13]:
for i in geojson_states['features']:
    i['id']= i['properties']['NAME_1']

In [15]:
res = requests.get('https://api.covid19india.org/data.json')
covid_current = res.json()
df = []

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
+